// Palette
@use './palette.scss' as *;

// Spectre.css
@use "node_modules/spectre.css/src/spectre"
with ($primary-color: $primary-color,
  $primary-color-light: $primary-color-light,
  $warning-color: $warning-color,
  $base-font-family: $base-font-family,
  $mono-font-family: $mono-font-family,
);

// Highlight.js
@use 'highlight.js/scss/monokai-sublime.scss' as *;

// fonts
@use './fonts.scss' as *;

// Vuepress-next default theme css variables
// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#style-file
:root {
  --c-brand: #{$primary-color};
  --c-brand-light: #{$primary-color-light};
  --c-text-accent: #{$primary-color};
  --navbar-height: #{$navbar-height};
  --scrollbar-width: 7px;
  --scrollbar-height: 7px;
  --c-scrollbar-background: #eee;
  --c-scrollbar-thumb: #bbb;
  --c-scrollbar-thumb-hover: #999;
  --sidebar-width: 16rem;
  --code-ln-wrapper-width: 2.8rem;
}

html.dark {
  --c-brand: #{lighten($primary-color, 5%)};
  --c-text-accent: #{lighten($primary-color, 5%)};
  --c-brand-light: #{$primary-color-light};
  --c-warning-text: #746000;
}

// Fix default theme style issues caused by spectre overriden.
body {
  background: var(--c-bg);
  color: var(--c-text);
}

p {
  margin: 0 0 0.8rem;
}

ul {
  list-style: disc outside;
}

small {
  a {
    font-size: 80% !important;
    font-weight: 400;
  }
}

code {

  background-color: var(--c-bg-dark);
  color: inherit;

  .hljs {
    display: inline;
  }
}

.avatar[data-initial]::before {
  pointer-events: none;
}

.table {

  display: table;

  * {
    font-size: $font-size-md;
  }

  thead {
    tr {
      border-top: 0px solid;
    }

    th {
      border-top: 0px solid;
      border-left: 0px solid;
      border-right: 0px solid;
    }
  }

  tbody {
    tr {
      td {
        border-left: 0px solid;
        border-right: 0px solid;
      }
    }
  }
}

.menu {
  .menu-item {
    margin-bottom: 0.2rem;
  }
}

kbd {
  border: none;
  border-bottom: none;
}

.text-warning {
  color: var(--c-warning);
}

.label {
  &.label-warning {
    background-color: var(--c-warning);
    color: var(--c-warning-text);
  }
}

.toast {

  &.toast-warning {
    background-color: var(--c-warning);
    border-color: var(--c-warning-border-dark);
    color: var(--c-warning-text);
  }
}

.theme-default-content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.6rem;
    padding-top: 0.6rem;

    &:first-child {

      +p,
      +pre,
      +.custom-container {
        margin-top: 1.6rem;
      }
    }
  }


  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.32rem;
  }

  h2 {
    font-size: 1.32rem;
  }

  h3 {
    font-size: 1.08rem;
  }

  h4 {
    font-size: 0.92rem;
  }

  h5 {
    font-size: 0.84rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  p,
  li,
  ol,
  ul {
    font-size: $font-size-md;
  }

  ol {
    list-style: decimal;
  }

  .label {
    font-size: $font-size-md;
  }

  pre,
  pre[class*=language-] {
    padding: 1rem 1rem;
  }

}

.page {
  .theme-default-content {
    margin-top: $navbar-height + 1.2rem;
    padding: 0 1rem 1rem 1rem;
  }

  .page-meta {
    padding: 0 1rem;
  }
}

.custom-container {

  .custom-container-title,
  .custom-container-title:not(:only-child) {
    margin: 0.6rem 0;
  }

  &.tip,
  &.warning,
  &.danger {
    margin: 0.8rem 0;
  }
}

div[class*=language-] {
  &.line-numbers-mode {

    .line-numbers {
      padding-top: 1rem;
    }
  }

  &::before {
    top: 0.54rem;
  }
}

// Dark color scheme
.dark {
  a {
    color: var(--c-text-accent);
  }

  .btn-default {
    background-color: var(--c-bg-dark);
    color: var(--c-text);
  }

  .label-default {
    background-color: var(--c-bg-dark);
    color: var(--c-text);
  }

  .menu {
    background: var(--c-bg-lighter);

    .menu-item {

      a:active,
      a.active,
      a:hover,
      a:focus {
        background-color: var(--c-bg-dark);
        color: var(--c-text);
      }

    }
  }
}

// Navbar
.navbar {

  a {
    text-decoration: none;

    &:focus {
      box-shadow: none;
    }
  }

  .site-name {
    color: $primary-color;
  }

  .toggle-color-mode-button {
    color: darken($primary-color, 20%);
  }

  .navbar-items {
    font-size: $font-size-sm;

    a {
      color: $primary-color;

      &:visited {
        color: $primary-color;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .navbar-item {
      >a {
        font-weight: bold;
      }

      .navbar-dropdown-wrapper {
        .navbar-dropdown-title {
          font-size: $font-size-sm;
          font-weight: bold;
          color: $primary-color;
        }

        .navbar-dropdown {
          .navbar-dropdown-item {
            margin-top: 0;

            a {
              line-height: 1rem;
              padding: 0.1rem 1.2rem 0.1rem 1rem;
            }
          }
        }
      }
    }
  }
}

.dark {
  .navbar {
    .toggle-color-mode-button {
      color: inherit;
    }

    .navbar-items {
      a {
        color: inherit;

        &:visited {
          color: inherit;
        }
      }

      .navbar-item {
        .navbar-dropdown-title {
          color: inherit;
        }
      }
    }
  }
}

.toggle-sidebar-button {
  left: 0.5rem;
  top: 0.4rem;
}

// Sidebar + Nanvbar
.sidebar {
  .navbar-items {
    a {
      color: inherit;
    }

    .navbar-item {
      font-size: $font-size-md;
      padding: 0.3rem 0 0.3rem 1.25rem;
    }

    .navbar-dropdown-wrapper {
      .navbar-dropdown {
        .navbar-dropdown-item {
          margin-top: 0;
        }
      }
    }
  }
}

// Sidebar
.sidebar {
  width: $sidebar-width;
  scrollbar-color: var(--c-scrollbar-thumb) var(--c-scrollbar-background);

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--c-scrollbar-background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--c-scrollbar-thumb);
  }

  .sidebar-items {
    padding: 1.2rem 0;
  }

  .sidebar-item.sidebar-heading {
    font-size: 0.8rem;
  }

  .sidebar-item {
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    &:focus {
      box-shadow: none;
    }

    &:hover {
      color: $primary-color;
    }

    &.sidebar-heading {
      padding: 0.3rem 0.8rem 0 1rem;
    }

    &:not(.sidebar-heading) {
      font-size: $font-size-md;
      padding: 0.15rem 0.8rem 0.15rem 1.6rem;
    }
  }

  .sidebar-item-children {
    .sidebar-item-children {
      >li {
        margin-top: 0.24rem;
      }

      .sidebar-item {
        &:not(.sidebar-heading) {
          padding: 0.15rem 0.8rem 0.15rem 1.2rem;
        }
      }
    }
  }
}

.dark {
  .sidebar {
    .sidebar-item {
      &:not(.active) {
        color: inherit;
      }
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .sidebar {
    .sidebar-items {
      padding: 0.3rem 0;
    }
  }
}

// Menu
.menu .menu-item {

  a,
  >a,
  input,
  .form-select,
  .form-switch {
    font-size: $font-size-md;
  }

  .form-switch {
    margin-left: 0.4rem;
  }
}

// Page layout.
main {
  padding: $navbar-height 0 0;
  max-width: $page-width;
  margin: 0 auto;

  .sideview {
    section {
      margin-bottom: 0.5rem;
    }
  }

  &.page {
    padding-top: 0;
  }
}

.breadcrumbview {
  margin-bottom: 0.8rem;

  .breadcrumb-item,
  .breadcrumb-item a {
    font-size: $font-size-sm;
  }
}

@media (min-width: $MQMobileNarrow) {
  main {
    &.applayout {
      max-width: 100%;

      .sideview {
        .scroll-area {
          position: fixed;
          top: $navbar-height;
          left: 0;
          bottom: 0;
          overflow-y: auto;
          width: $side-container-width;
          padding-top: 0.2rem;
        }
      }

      .mainview {
        padding-top: 0.2rem;
        padding-left: $side-container-width;
      }

      .breadcrumb-container {
        position: fixed;
        top: $navbar-height;
        left: $side-container-width;
        right: 0;
        width: calc(100% - #{$side-container-width});
        z-index: 1;
        background-color: $breadcrumb-background-color;

        .breadcrumbview {
          margin-bottom: 0;

          ul.breadcrumb {
            margin-bottom: 0;
          }
        }
      }

      .contentview {
        .scroll-area {
          margin-top: $breadcrumb-height;
        }
      }
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  main {
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;

    .sideview {
      margin-top: 1.15rem;
    }
  }

  .theme-default-content {
    font-size: $font-size-sm;

    &:not(.custom) {
      padding: 1rem;

      >h1:first-child {
        margin-top: 0;
      }
    }
  }

  .page-meta {
    .meta-item:first-child {
      margin-top: 0;
    }
  }
}

// scrollbar: the emerging W3C standard that is currently Firefox-only
* {
  scrollbar-width: thin;
  scrollbar-color: var(--c-scrollbar-thumb) var(--c-scrollbar-background);
}

*:hover {
  scrollbar-color: var(--c-scrollbar-thumb-hover) var(--c-scrollbar-background);
}

// scrollbar: Works on Chrome/Edge/Safari
*::-webkit-scrollbar {
  height: var(--scrollbar-height);
  width: var(--scrollbar-width);
  ;
}

*::-webkit-scrollbar-track {
  background: var(--c-scrollbar-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--c-scrollbar-thumb);
  border-radius: 20px;
  border: 2px solid var(--c-scrollbar-thumb);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--c-scrollbar-thumb-hover);
  border-color: var(--c-scrollbar-thumb-hover);
}

// Custom: misc
.hide {
  display: none;
}

.display-block {
  display: block;
}

// Custom: ads
.adp:empty {
  display: none;
}

// Custom: tooltip-click
.tooltip-click {
  cursor: pointer;

  &:hover::after {
    opacity: 0;
  }

  &:focus::after,
  &:active::after {
    opacity: 1;
    transform: translate(-50%, -.2rem);
  }

  a {
    cursor: pointer;
  }
}

.page-nav {
  padding: 0 1rem;

  .prev {
    a {
      &::before {
        @include font-awesome-icon;
        content: "\f060";
      }
    }
  }

  .next {
    a {
      &::after {
        @include font-awesome-icon;
        content: "\f061";
      }
    }
  }
}

.tile .tile-title {
  margin-top: 0 !important;
}

.avatar:not(.custom) {
  background: #eee;
}

.pkg-sm {
  .pkg-title {
    margin: 0 0 0.3rem 0;

    a::before {
      content: "📦 ";
    }
  }
}

.form-group {
  .form-label {
    &.required:after {
      content: " *";
      color: $primary-color;
    }
  }
}